
@{ 
    string lang = ViewContext.HttpContext.Request.Query["culture"];
    bool isArabic = (lang?.StartsWith("ar") ?? false);
    string rtl = ""; //  isArabic ? "rtl" : "";

    string bootstrapCSS = "bootstrap.min.css"; //isArabic ? "bootstrap-rtl.min.css" : "bootstrap.min.css";
    string bootstrapJS = "bootstrap.min.js"; //isArabic ? "bootstrap-rtl.min.js" : "bootstrap.min.js";
    
}

<!DOCTYPE html>
<html lang="@lang">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <title>NMC</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/@bootstrapCSS">
    <link rel="stylesheet" type="text/css" href="assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <!--[if lt IE 9]>
        <script src="~/assets/js/html5shiv.min.js"></script>
        <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body dir="@rtl">
    <div class="main-wrapper">

        <partial name="_Header" />
        <partial name="_Sidebar" />
        <div class="page-wrapper">
            @RenderBody()
            <partial name="_Notifications" />
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/@bootstrapJS"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/Chart.bundle.js"></script>
    <script src="~/assets/js/chart.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>



</html>