@if (User.IsInRole("Admission"))
{
    <li class="">
        <a href="/AdmissionOffice/Bookings/ActiveBookings"><i class="fa fa-calendar-times-o"></i> <span>@_localizer["Active Bookings"]</span></a>
    </li>

    <li class="">
        <a href="/AdmissionOffice/Bookings/Index"><i class="fa fa-calendar-o"></i> <span>@_localizer["Bookings"]</span></a>
    </li>


    <li class="">
        <a href="/AdmissionOffice/Inpatients/Index"><i class="fa fa-bed"></i> <span>@_localizer["Inpatients"]</span></a>
    </li>

    <li class="">
        <a href="/Admin/Doctors/Index"><i class="fa fa-user-md"></i> <span>@_localizer["Doctors"]</span></a>
    </li>

    
}