@page "{id:int}"
@model NMCUI.Areas.UI1.Pages.Departments.EditDepartmentModel
@inject IViewLocalizer _localizer
@{
    ViewData["PageTitle"] = _localizer["Edit Department"];
}

<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">@_localizer["Edit Department"]</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post">
                <input asp-for="Department.Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="Department.Name"></label>
                    <input asp-for="Department.Name" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Department.NameAr"></label>
                    <input asp-for="Department.NameAr" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Department.DepartmentType"></label>
                    <select asp-for="Department.DepartmentType" asp-items="Html.GetEnumSelectList<DepartmentType>()" class="form-control">
                    </select>
                </div>
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn">@_localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>