.custom-badge.clickable {
    cursor: pointer;
}

div.dataTables_wrapper div.dataTables_length select {
    padding: 0.25rem 1.4rem;
}

.available {
    cursor: pointer;
}

.available:hover{
    background-color: Highlight;
}

