@page
@model NMCUI.Areas.UI1.Pages.Doctors.AddDoctorScheduleModel
@inject IViewLocalizer _localizer
@{
    ViewData["PageTitle"] = _localizer["Add Schedule"];
}

<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">@ViewBag.PageTitle</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DoctorSchedule.DoctorId"></label>
                            <select asp-for="DoctorSchedule.DoctorId" asp-items="Model.DoctorsSelect" class="select">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DoctorSchedule.Days"></label>
                            <select asp-for="DoctorSchedule.DaysList" asp-items="Model.DaysSelect" class="select" multiple>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DoctorSchedule.FromDate"></label>
                            <div class="time-icon">
                                <input asp-for="DoctorSchedule.FromDate" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="DoctorSchedule.StartTime"></label>
                            <div class="time-icon">
                                <input asp-for="DoctorSchedule.StartTime" type="text" class="form-control" id="startTime">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="DoctorSchedule.EndTime"></label>
                            <div class="time-icon">
                                <input asp-for="DoctorSchedule.EndTime" type="text" class="form-control" id="endTime">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DoctorSchedule.Message"></label>
                    <textarea asp-for="DoctorSchedule.Message" cols="30" rows="4" class="form-control"></textarea>
                </div>

                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn">@_localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
    $(function () {
        $('#startTime').datetimepicker({
            format: 'LT'

        });

        $('#endTime').datetimepicker({
            format: 'LT'

        });
    });
    </script>
}