@page
@model IndexModel

@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["Home page"];
}


<partial name="_Sidebar" />

<div class="page-wrapper">
    <div class="content">

    </div>
</div>
