@page
@model IndexModel

@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["Home page"];
    ViewData["HasChart"] = true;
}

<div class="content">
    @if (User.IsInRole(AppRole.ROLE_ADMIN))
    {
        <partial name="_ADMIN_HOME" />
    }
    else if (User.IsInRole(AppRole.ROLE_ADMISSION))
    {
        <partial name="_ADMISSION_HOME" />
    }
    else if (User.IsInRole(AppRole.ROLE_DOCTOR))
    {
        <partial name="_DOCTOR_HOME" />
    }
</div>