@page
@model IndexModel

@{
    ViewData["Title"] = _localizer["Home page"];
    ViewData["HasChart"] = false;
}

@if (User.IsInRole("Admin"))
{
    <partial name="_Home_Admin" />
}
else
{

    <div class="content">

    </div>
}