<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3">
        <a href="add-role.html" class="btn btn-primary btn-block"><i class="fa fa-heartbeat"></i> Medical Story</a>
        <div class="roles-menu">
            <ul>
                <li class="active">
                    <a href="javascript:void(0);">Patient Check List</a>
                    <span class="role-action">
                        <a href="edit-role.html">
                            <span class="action-circle large">
                                <i class="material-icons">edit</i>
                            </span>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#delete_role">
                            <span class="action-circle large delete-btn">
                                <i class="material-icons">delete</i>
                            </span>
                        </a>
                    </span>
                </li>
                <li><a href="#">Physical History</a></li>
                <li><a href="#">Diseases</a></li>
                <li><a href="#">Symptoms</a></li>
                <li><a href="#">Diagnoses</a></li>
                <li><a href="#">Evaluations</a></li>
                <li><a href="#">Procedures</a></li>
                <li><a href="#">Medicines</a></li>
                <li><a href="#">Vitals</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-9">
        <h6 class="card-title m-b-20">Patient Check List</h6>
        <div class="m-b-30">
            <ul class="list-group">
                <li class="list-group-item">
                    Smoking
                    <div class="material-switch float-right">
                        <input id="a_module" type="checkbox">
                        <label for="a_module" class="badge-danger"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    Alcohol
                    <div class="material-switch float-right">
                        <input id="b_module" type="checkbox">
                        <label for="b_module" class="badge-danger"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    Current Medicines
                    <div class="material-switch float-right">
                        <input id="c_module" type="checkbox">
                        <label for="c_module" class="badge-danger"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    Medical/Food Allergies
                    <div class="material-switch float-right">
                        <input id="d_module" type="checkbox">
                        <label for="d_module" class="badge-danger"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    Diabetes
                    <div class="material-switch float-right">
                        <input id="e_module" type="checkbox">
                        <label for="e_module" class="badge-danger"></label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table table-striped custom-table">
                <thead>
                    <tr>
                        <th>Procedures</th>
                        <th colspan="8" class="text-center">Sun, Dec-13</th>
                    </tr>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center">12:00A</th>
                        <th class="text-center">12:30A</th>
                        <th class="text-center">01:00A</th>
                        <th class="text-center">01:30A</th>
                        <th class="text-center">02:00A</th>
                        <th class="text-center">02:30A</th>
                        <th class="text-center">03:00A</th>
                        <th class="text-center">03:30A</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Medicine/Procedure 1</td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                    </tr>
                    <tr>
                        <td>Medicine/Procedure 2</td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                    </tr>
                    <tr>
                        <td>Medicine/Procedure 3</td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                    </tr>
                    <tr>
                        <td>Medicine/Procedure 4</td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" checked="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>