@page "{DoctorId:int}"
@functions
{
    string PageTitle = "Create Doctor Education";

    [BindProperty] public DoctorEducation Item { get; set; } = new();
    [BindProperty(SupportsGet = true)] public int DoctorId { get; set; }
    [BindProperty(SupportsGet = true)] public string Name { get; set; }

    public async Task Init()
    {
    }

    public async Task<IActionResult> OnGetAsync()
    {
        Name = await _ctx.Doctors.Where(x => x.Id == DoctorId).Select(x => x.Name).AsNoTracking().FirstOrDefaultAsync();
        if (Name == null)
            return RedirectToPage("/NotFound");

        // await Init();

        return Page();
    }

    public async Task<IActionResult> OnPostAsync()
    {
        if (ModelState.IsValid)
        {
            try
            {
                Item.DoctorId = DoctorId;
                _ctx.DoctorEducations.Add(Item);
                await _ctx.SaveChangesAsync();
                return RedirectToPage("./Index", new { DoctorId = DoctorId });
            }
            catch
            {
                ModelState.AddModelError("Name", "Invalid");
            }
        }

        // await Init();
        return Page();
    }
}

<div class="content">

    <div class="row">
        <div class="col-sm-5 col-5">
            <h4 class="page-title">@_localizer[PageTitle]</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="post">
                <div class="card-box">
                    <div class="card-body">

                        <h3 class="card-title">@_localizer["Education Details"]</h3>

                        <input asp-for="DoctorId" type="hidden" />
                        <input asp-for="Item.DoctorId" type="hidden" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Name" class=""></label>
                                    <input readonly asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Item.Institution"></label>
                                    <input asp-for="Item.Institution" class="form-control">
                                    <span asp-validation-for="Item.Institution" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Item.Degree"></label>
                                    <input asp-for="Item.Degree" class="form-control">
                                    <span asp-validation-for="Item.Degree" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Item.Subject"></label>
                                    <input asp-for="Item.Subject" class="form-control">
                                    <span asp-validation-for="Item.Subject" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Item.Grade"></label>
                                    <input asp-for="Item.Grade" class="form-control">
                                    <span asp-validation-for="Item.Grade" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Item.StartingYear"></label>
                                    <input asp-for="Item.StartingYear" class="form-control">
                                    <span asp-validation-for="Item.StartingYear" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Item.CompletionYear"></label>
                                    <input asp-for="Item.CompletionYear" class="form-control">
                                    <span asp-validation-for="Item.CompletionYear" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                        <div class="m-t-20 text-center">
                            <button type="submit" class="btn btn-primary submit-btn">@_localizer["Save"]</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}