@page "{id:int}"
@model NMC.Pages.AppointmentTypes.EditAppointmentTypeModel
@inject IViewLocalizer _localizer
@{
    ViewData["PageTitle"] = _localizer["Edit Appointment Type"];
}

<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">@_localizer["Edit Appointment Type"]</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post">
                <input asp-for="AppointmentType.Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="AppointmentType.Name"></label>
                    <input asp-for="AppointmentType.Name" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="AppointmentType.NameAr"></label>
                    <input asp-for="AppointmentType.NameAr" class="form-control">
                </div>
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn">@_localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>