@page
@model NMC.Areas.Admin.Pages.RoomGrades.EditModel
@{
    ViewData["PageTitle"] = _localizer["Edit Room Grade"];
}

<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">@ViewBag.PageTitle</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post">
                
                <input asp-for="RoomGrade.Id" type="hidden" />

                <div class="form-group">
                    <label asp-for="RoomGrade.ArName"></label>
                    <input asp-for="RoomGrade.ArName" class="form-control">
                    <span asp-validation-for="RoomGrade.ArName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoomGrade.EnName"></label>
                    <input asp-for="RoomGrade.EnName" class="form-control">
                    <span asp-validation-for="RoomGrade.EnName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoomGrade.Capacity"></label>
                    <input asp-for="RoomGrade.Capacity" class="form-control">
                    <span asp-validation-for="RoomGrade.Capacity" class="text-danger"></span>
                </div>
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn">@_localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />

}